h1 {
  text-align: center;
  margin: 10px 0px;
  font-size: 6rem;
  color: #0088ff;
}

form {
  margin: 10px auto;
}

form input {
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 5px 8px;
  font-size: 1.5rem;
}

form button {
  font-size: 1.5rem;
  padding: 5px 8px;
  cursor: pointer;
  border: 1px solid transparent;
}

form button:hover {
  background-color: #0088ff;
  color: white;
}
